<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, nihil dolorem. Quisquam reiciendis magnam
        perferendis voluptate rem vitae veritatis. Eos exercitationem corporis odio. Facilis, pariatur id eos voluptas
        accusamus culpa.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique rerum quod perferendis accusantium, incidunt
        iure, exercitationem vero, quas voluptas quasi voluptate! Alias dolore quia at facilis earum reiciendis est
        dolorum.</p>
</body>

</html>